/.vs
/*!Output
/source/!Output
/source/System.Capacitors/!Output
/source/System.Clocks/!Output
/source/System.Electromechanical/!Output
/source/System.Displays/!Output
/source/System.DiscreteSemiconductors/!Output
/source/System.Connectors/!Output
/source/System.Common.Models/!Output
/source/System.Common.Footprints/!Output
/source/System.Coils/!Output
/source/System.Switches/!Output
/source/System.Resistors/!Output
/source/System.PowerSymbols/!Output
/source/System.LEDs/!Output
/source/System.Jumpers/!Output
/source/System.IC.Power/!Output
/source/System.IC.Misc/!Output
/source/System.IC.Microcontrollers/!Output
/source/System.IC.Logic/!Output
/source/System.IC.Amplifiers/!Output
/source/System.Fuses/!Output
